* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}


.fontFamily-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    /* background-color: #FFF8F3; */
    padding-top: 50px;
    background: url(images/developer.png) no-repeat top left, url(images/header_bg.png) no-repeat bottom right, #FFF8F3;

}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-orange {
    color: #FD6E0A;
}

.logo {
    font-size: 51px;
    font-weight: 900;

}

nav .menu {
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;

}

.btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

#banner {

    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 585px;

}

.banner-content h2 {
    font-size: 45px;
    color: #474747;
    font-weight: 600;

}

.banner-content h1 {
    font-size: 85px;
    color: #050505;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-content p {
    font-size: 18px;
    color: #757575;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-bottom: 18px;

}

.banner-btn {
    display: flex;
    gap: 30px;
    margin-left: 25px;
}

.contact-btn {
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
}

.banner-img {
    width: 584px;
    height: 676px;
}

.banner-img img {
    width: 100%;
    height: 100%;

    transform: scaleX(-1);


}

#about {
    background-color: #FFF8F3;
    width: 1140px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 115px;
    /* border: 1px solid #000; */

}

.about-container {
    /* border: 1px solid #000; */
    width: 827px;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container h1 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.about-container p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-infu {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.about-infu h3 {
    color: #757575;

    font-size: 20px;
}

.about-infu h2 {
    color: #0f0e0e;
    font-weight: bold;
    font-size: 20px;
}

.infu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills {
    width: 71%;
    max-width: 1140px;
    margin: 130px auto 0;
}

.container-about {
    width: 827px;
    margin: 0 auto;
    text-align: center;

}

.content-heading h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}

.content-heading p {
    margin-top: 30px;
    font-size: 18px;
    color: #757575;
    line-height: 30px;

}

.skill-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
    margin-top: 50px;
}



.skill-infu {
    width: 267px;
    height: 377px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25) inset;
    padding: 30px;
    background-color: white;
}

.skill-infu img {
    width: 44px;
    height: 44px;
    margin-bottom: 20px;
}

.skill-infu h2 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.skill-infu p {
    font-size: 16px;
    color: #757575;

}

#resume {
   
    margin-top: 130px;
}

.resume-heading {
    text-align: center;
}

.resume-header {
    font-size: 35px;
    font-weight: bold;
    color: #161616;
}

.resume-container {
    display: flex;
    margin-top: 113px;
    gap: 24px;
}

.educatin-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.header {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.ex-header {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 20px;
}

.edu-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ex-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card {
    width: 511px;
    height: 175px;

}

.card-head {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.card-title {
    font-size: 20px;
    color: #757575;
     margin-bottom: 20px;
}

.card-text {
    font-size: 18px;
    color: #757575;
}
.btn-center{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}